[submodule "cmark"]
	path = cmark
	url = git@github.com:apple/swift-cmark
	branch = master
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:dabrahams/llvm-project
	branch = swift/tensorflow-stage
[submodule "mergebot"]
	path = mergebot
	url = git@github.com:compnerd/mergebot
	branch = master
[submodule "swift"]
	path = swift
	url = git@github.com:google/swift
	branch = tensorflow-stage
[submodule "swift-corelibs-libdispatch"]
	path = swift-corelibs-libdispatch
	url = git@github.com:apple/swift-corelibs-libdispatch
	branch = master
